{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Реєстрація:</h1>
  <hr>
  <div class="d-grid">
    <form method="post" class="form-control d-grid" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-secondary">Увійти</button>
    </form>
    <a href="{% url 'rent_app:index' %}" class="btn btn-outline-secondary d-grid">На головну</a>
    <a href="{% url 'social:begin' 'github' %}" class="btn btn-outline-secondary d-grid">Зареєструватись через
      GitHub
    </a>
  </div>


{% endblock %}