{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Змінити пароль:</h1>
  <hr>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn-secondary form-control">Замінити</button>
  </form>
  <a href="{% url 'rent_app:index' %}" class="btn btn-outline-secondary d-grid">На головну</a>
  
{% endblock %}