{% extends 'base.html' %}

{% block content %}
  <h1>Відновлення паролю</h1>
  <hr>
  <p>Пароль успішно змінено.</p>
  <a href="{% url 'login' %}" class="btn btn-outline-secondary">Увійти</a>
{% endblock %}
