{% extends 'base.html' %}

{% block content %}
  <h1>Відновлення паролю</h1>
  <hr>
  <p>Введіть новий пароль двічі для підтвердження:</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-outline-secondary">Змінити пароль</button>
  </form>
{% endblock %}