{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Відновлення паролю</h1>
  <hr>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-outline-secondary">Відновити</button>
  </form>

  <button href="{% url 'rent_app:index' %}" class="btn btn-outline-secondary d-grid">На головну</button>
{% endblock %}