{% extends 'base.html' %}

{% block content %}
  <h1>Відновлення паролю</h1>
  <hr>
  <p>На вашу пошту відправлено лист з посиланням для відновлення паролю.</p>
  <p>Якщо лист не прийшов, перевірте папку "Спам".</p>
  <p>Якщо лист не прийшов, перевірте папку "Спам".</p>
  <button href="{% url 'rent_app:index' %}" class="btn btn-outline-secondary d-grid">На головну</button>
{% endblock %}