{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Пароль змінено.</h1>
  <hr>
  
  <button href="{% url 'rent_app:index' %}" class="btn btn-outline-secondary d-grid">На головну</button>

  
{% endblock %}