{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1>{{ category.name }}</h1>
      <hr>
      {% if category.description %}
        <p>{{ category.description }}</p>
      {% else %}
        <p>Опис не надано</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>батьківська категорія:</h4>
      {% if category.parent %}
        <a href="{% url 'rent_app:category_detail' category.parent.id %}">{{ category.parent.name }}</a>
      {% else %}
        <p>батьківська категорія відсутня</p>
      {% endif %}
    </div>
    <div class="col-md-6">
      <h4>дочірні категорії:</h4>
      {% if category.children.all %}
        <ul>
          {% for child in category.children.all %}
            <li><a href="{% url 'rent_app:category_detail' child.id %}">{{ child.name }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>дочірні категорії відсутні</p>
      {% endif %}
    </div>
  </div>

{% endblock %}