{% extends 'base.html' %}

{% block content %}
  <h1>Видалити категорію:</h1>
  <hr>
  <p><i>При видаленні категорії <strong>"{{ object.name }}"</strong> будуть видалені також речі які до неї відносяться
    (всього: {{ object.things_count }}). Підтвердіть видалення.</i></p>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    <input type="submit" value="Підтвердити видалення" class="btn btn-danger">
{% endblock %}