{% extends 'base.html' %}

{% block content %}
  <h1>Категорії:<a style="float: right" href="{% url 'rent_app:category_create' %}">➕</a></h1>
  <hr>
  {% if categories %}

    <table class="table">
      <tr>
        <th>Назва</th>
        <th>Кількість речей</th>
        <th>Оновити</th>
        <th>Видалити</th>
      </tr>

      {% for category in categories %}
        <tr>
          <td><a href="{% url 'rent_app:category_detail' category.id %}">{{ category.name }}</a></td>
          <td>{{ category.things__count }}</td>
          <td><a href="{% url 'rent_app:category_update' category.id %}">🔄</a></td>
          <td><a href="{% url 'rent_app:category_delete' category.id %}">❌</a></td>
        </tr>
      {% endfor %}

    </table>
  {% else %}
    <p>There are no categories in the database.</p>
  {% endif %}
{% endblock %}