{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Створіть новий тег:</h1>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Створити">
  </form>
{% endblock %}