{% extends 'base.html' %}

{% block content %}
  <h1>{{ tag.name }}</h1>
  <hr>
  {% if tag.description %}
    <p>{{ tag.description }}</p>
  {% else %}
    <p>There is no description for this tag.</p>
  {% endif %}
{% endblock %}