{% extends 'base.html' %}

{% block content %}
  <h1>Теги:<a style="float: right" href="{% url 'rent_app:tag_create' %}">➕</a></h1>
  <hr>
  <ul>
    {% for tag in tags %}
      <li>
        <a href="{% url 'rent_app:tag_detail'  tag.id %}"><strong>{{ tag.name }}</strong> (використовується
          для {{ tag.things_count }} речей)</a>
      </li>
    {% empty %}
      <p>There are no tags.</p>
    {% endfor %}
  </ul>
{% endblock %}