{% extends 'base.html' %}

{% block content %}
  <h1>Видалити тег:</h1>
  <hr>
  <p><i>Тег <strong>"{{ object.name }}"</strong> використовується для опису {{ object.things_count }} реч{{ object.things_count|pluralize:"і,ей" }}. Підтвердіть видалення.</i></p>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    <input type="submit" value="Підтвердити видалення" class="btn btn-danger">
{% endblock %}