{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ thing.name|capfirst }}</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

          {% for image in thing.images.all %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
              <img src="{{ image.image.url }}" class="img-fluid" style="max-height: 450px;" alt="{{ image.description }}">
            </div>
          {% empty %}

            <div class="carousel-item active">
              <img src="{% static 'images/No_image_available.svg.png' %}" class="d-block w-100" alt="No image provided">
            </div>

          {% endfor %}


        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-sm-6">
      <p><strong>Category: </strong>{{ thing.category.name|lower }}</p>
      <p><strong>Compensatory price: </strong>{{ thing.compensation }}</p>
      <p><strong>Use price: </strong>{{ thing.price }}</p>
      <p><strong>Owner: </strong><a href="#">{{ thing.owner.username }}</a></p>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-12">
      <p>{{ thing.description }}</p>
    </div>
  </div>

{% endblock %}