{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Речі:</h1>

  <hr>
  {% if things %}
    <ul>
      {% for thing in things %}
        <li>
          <a href="{% url 'rent_app:thing_detail'  thing.id %}">{{ thing.name }}</a> (<a style="color: aqua"
                                                                                         href="#">{{ thing.category }}</a>)
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no things in the database.</p>
  {% endif %}

{% endblock %}

{% block search %}
  <form action="" method="get">
  <div class="d-grid">
     <input type="submit" value="Знайти" class="btn btn-outline-primary">
  </div>
    <ul class="list-group">
      {% for field in search_form %}
        <li class="list-group-item">
          {{ field|as_crispy_field }}
        </li>
      {% endfor %}
      
    </ul>
  </form>
{% endblock %}