{% block sidebar %}
  <div class="d-grid gap-2">
    <h4>вітаю, {{ user.username|default:"гість" }}!</h4>
    {% if user.is_authenticated %}
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-secondary form-control">Вийти</button>
      </form>
      <a href="{% url 'password_change' %}" class="btn btn-outline-secondary">Змінити пароль</a>
    {% else %}
      <a href="{% url 'login' %}" class="btn btn-outline-secondary">Увійти</a>
      <a href="{% url 'password_reset' %}" class="btn btn-outline-secondary">Відновити пароль</a>
      <a href="{% url 'users:register' %}" class="btn btn-outline-secondary">Зареєструватися</a>
    {% endif %}
  </div>

  <div>
    <ul class="list-group">
      <li class="list-group-item"><a href="{% url 'rent_app:index' %}">Home</a></li>
      <li class="list-group-item"><a href="{% url 'rent_app:things_list' %}">Things</a></li>
      <li class="list-group-item"><a href="{% url 'rent_app:category_list' %}">Categories</a></li>
      <li class="list-group-item"><a href="{% url 'rent_app:tag_list' %}">Tags</a></li>
    </ul>
  </div>
{% endblock %}