<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block title %}
    <title>Things</title>
  {% endblock %}
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
    <div class="row">
      {% block sidebar %}
        {% include 'includes/sidebar.html' %}
      {% endblock %}
    </div>
     <div class="row figure-caption">
      {% block search %}

      {% endblock %}
    </div>      
    </div>
    <div class="col-sm-8">
      {% block content %}
        Content
      {% endblock %}
      {% block pagination %}
        {% include 'includes/pagination.html' %}
      {% endblock %}
    </div>

  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>