{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h2>Реєстрація на сайті:</h2>
  <hr>

  <form action="" method="post" class="form-control">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn-secondary form-control">Зареєструвати</button>
  </form>
  <a href="{% url 'login' %}" class="btn btn-primary d-grid">Увійти</a>
{% endblock %}